extends layout

block content
    // Wrapper
    #wrapper

        h2 Twit
        #addComment
            fieldset
                input#inputUserName(type='text', placeholder='# . . . ')
                br
                button#btnComment Comment
        // ADD USER        

    // /WRAPPER

